/* blue color: #17a2b8 */
body {
    margin-top: -8px;
    padding: 0;
    /* background-image: url(https://images4.alphacoders.com/278/278856.jpg); */
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 60px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #bbb3b3;
    background-color: #202027;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .centerize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    /* width: 50%; */
  }


.img-bg{
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  z-index: -1;
  background-image: url(https://images4.alphacoders.com/278/278856.jpg);
}
.iceberg{
  background-image: url(https://images4.alphacoders.com/278/278856.jpg);
}

.text-bg{
  background-color: #2F303A;
  padding: 1%;
  margin-top: 1%;
  text-align: center;
}
h1{
  text-align: center;
}

h1 span{
  background-color: #2F303A;
  padding: 2%;
  border-radius: 25px;
  
}

h3 span{
  background-color: #2F303A;
  padding: 2%;
  border-radius: 25px;
  
}