<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/student/css/style.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <title>Enroll in Courses</title>
</head>
<body>
<!--Navigation bar-->
<div th:replace="student/fragments/nav.html"></div>
<!--end of Navigation bar-->

<div class="container-fluid text-left text-white page-position">
    <div class="page-background">
        <h1>Enroll in Courses</h1>
        <h3>Available Courses:</h3>
        <div>
            <section class="intro">
                <div class="h-100">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-dark table-bordered mb-0" id="courseTable">
                                            <thead>
                                            <tr>
                                                <th scope="col">Course Name</th>
                                                <th scope="col">Course Department</th>
                                                <th scope="col">Course Code</th>
                                                <th scope="col">Enroll</th>
                                            </tr>
                                            </thead>
                                            <tbody id="available">
                                            </tbody>
                                        </table>
                                        <input type="button" value="submit" onclick="GetSelected()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <hr>
        <h3>My Courses:</h3>
        <div>
            <section class="intro">
                <div class="h-100">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-dark table-bordered mb-0" id="myTable">
                                            <thead>
                                            <tr>
                                                <th scope="col">Course Name</th>
                                                <th scope="col">Course Department</th>
                                                <th scope="col">Course Code</th>
                                                <th scope="col">Drop</th>
                                            </tr>
                                            </thead>
                                            <tbody id="enrolled">
                                            </tbody>
                                        </table>
                                        <input type="button" value="submit" onclick="DropSelected()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="/student/js/enrollCourses.js"></script>
</body>
</html>