<!-- top navigation bar  -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <div class="container">
          <div class="row">
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/2/28/Hacettepe_%C3%9Cniversitesi_Logosu.svg/1200px-Hacettepe_%C3%9Cniversitesi_Logosu.svg.png"
              class="align-top" alt="" id="hulogo">
            <h4 style="display: inline; color: white;">ICES4HU</h4>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/instructor/manageAccount"><span class="glyphicon glyphicon-pencil"></span> Manage Account</a></li>
            <li><a href="#" onclick="logout()"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
        </ul>
      </div>
    </div>
    <script src="/login/js/logout.js"></script>
  </nav>

<!-- side navigation bar -->

<nav class="navbar navbar-expand-lg fixed-top" id="sidenav">
    <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://pbs.twimg.com/media/FS9On0MXEAEVD1A.jpg:large);"></a>
    <p><a href="/instructor/homePage">Home Page</a></p>
    <p><a href="/instructor/createSurvey">Create Evaluation Form</a></p>
    <p><a href="/instructor/viewResult">View Evaluation Results</a></p>
</nav>